*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.all-about{
    margin: 65px 10px;
    display: flex;
    gap: 50px;
    max-width: 850px;
}
.left-about{
    margin: 10px 25px;    
}.about-title h2{
    line-height: 35px;
    font-family: Oswald, sans-serif;

}
.right-about{
    max-height: 500px;

}
.right-about img{
    background: #fff;
    margin-top: 10px;
    background-position: center;
    background: #000000e5;
    border-radius: 10px;
}
.intro{
    margin: 25px 0;
}
.my-platforms{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 25px 5px;
}
.my-email{
    margin: 30px 0;
}
/* -------icons------- */
.uil-envelope-alt{
    font-size: 1.4rem;
}
.uil-facebook,
.uil-linkedin{
    font-size: 1.7rem;
    color: blue;
}
.uil-github{
    color: black;
    font-size: 1.7rem;

}
a{
    text-decoration: none;
}
.uil-instagram-alt{
    color: rgba(255, 0, 0, 0.404);
}
.uil-instagram-alt {
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


